
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>AddAdmin</title>
    </head>
    
<body>
        <div> 

            Sucessfully added a new admin

        </div>
    </body>
</html>
