
@{
    Layout = null;
}

<!DOCTYPE html>

<!--This page is used to redirect users to the completed webform page-->

<html>
    <head>
        <meta http-equiv="refresh" content="0; url = /Web/FormComplete" />
        <title>CompleteRedirect</title>
    </head>
    
    <body>
        <div> 
        </div>
    </body>
</html>
