
@{
    Layout = null;
}

<!DOCTYPE html>

<!--This is the page used to redirect unauthorized users back to the survey page-->

<html>
    <head>
        <meta http-equiv="refresh" content="0; url = /Web/Index" />
        <title>NotAdminRedirect</title>
    </head>
    
    <body>
        <div> 
        </div>
    </body>
</html>
