
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="refresh" content="0; url = /Web/Index" />
    <title>NotAdminRedirect</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
