<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient"/>
  </configSections>

  <casClientConfig
        casServerLoginUrl="https://login.marist.edu/cas/login"
        casServerUrlPrefix="https://login.marist.edu/cas"
        serverName="https://regalia.it.marist.edu/"
        notAuthorizedUrl="~/NotAuthorized.aspx"
        cookiesRequiredUrl="~/CookiesRequired.aspx"
        redirectAfterValidation="true"
        renew="false"
        singleSignOut="true"
        ticketTimeTolerance="5000"
        ticketValidatorName="Cas20"
        serviceTicketManager="CacheServiceTicketManager" />

  <system.web>

    <authentication mode="Forms">
      <forms
          loginUrl="https://login.marist.edu/cas/login"
          timeout="30"
          defaultUrl="~/homepage.aspx"
          cookieless="UseCookies"
          slidingExpiration="true"
          path="/example/" />
    </authentication>

    <httpModules>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
    </httpModules>

    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source = 10.10.9.100; User ID = sa; Password = Passw0rd12; Connect Timeout = 30; Encrypt = False; TrustServerCertificate = False; ApplicationIntent = ReadWrite; MultiSubnetFailover = False; Initial Catalog=Capping" />
    <add name="CappingConnectionString" connectionString="Data Source=10.10.9.100;Initial Catalog=Capping;User ID=sa;Password=Passw0rd12"
      providerName="System.Data.SqlClient" />
  </connectionStrings>



  <system.webServer>

    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="DotNetCasClient"/>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
    </modules>
    
  <!--  
    <defaultDocument>
      <files>
        <clear />
        <add value="homepage.aspx" />
      </files>
    </defaultDocument>
    -->
  </system.webServer>

</configuration>
