<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient" />
  </configSections>
  <appSettings>
    <!-- CAS Configuration -->
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <!-- /CAS Configuration -->
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login" timeout="2880" />-->
      <forms loginUrl="https://auth.it.marist.edu/idp/profile" cookieless="UseCookies" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <httpModules>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient" />
    </httpModules>
  </system.web>
 
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Homepage.aspx"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" >
      <remove name="DotNetCasClient" />
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient" />
    </modules>
  </system.webServer>


  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <casClientConfig 
                     casServerLoginUrl="https://auth.it.marist.edu/idp/profile"
                     casServerUrlPrefix="https://auth.it.marist.edu"
                     serverName="https://localhost"
                     notAuthorizedUrl="~/Home/NotAuthorized"
                     cookiesRequiredUrl="~/Home/CookiesRequired"
                     redirectAfterValidation="true"
                     gateway="false" renew="false"
                     singleSignOut="true"
                     ticketTimeTolerance="5000"
                     ticketValidatorName="Saml11"
                     serviceTicketManager="CacheServiceTicketManager"
                     gatewayStatusCookieName="CasGatewayStatus" />
</configuration>


