<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Data Source = 10.10.9.100; User ID = sa; Password = Passw0rd12; Connect Timeout = 30; Encrypt = False; TrustServerCertificate = False; ApplicationIntent = ReadWrite; MultiSubnetFailover = False; Initial Catalog=Capping" />
  </connectionStrings>



  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="homepage.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
