
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminRedirect</title>
    <meta http-equiv="refresh" content="0; url = /Secret/Admin" />
</head>
<body>
    <div>

        


     


    </div>
</body>
</html>
