
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
   


</style>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormComplete</title>
</head>
<body>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center>
            <h2>Thanks for submitting your information</h2>

            <br>
            <br>
            <br>

            <h3>You should recive a confirmation email to your MaristMail shortly.</h3>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <button type="button" class="btn text-white text-right" style="background-color: #006e7a;" onclick="location.href = 'https://auth.it.marist.edu/idp/profile/Logout';">Log Out</button>
            &nbsp;
            <button type="button" class="btn text-white text-right" style="background-color: #006e7a;" onclick="location.href = '/Secret/Index';">Return to Form</button>


        </center>

    </div>
</body>
</html>
